.products {
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: row; /* Update flex direction to row */
  justify-content: space-between; /* Adjust alignment */
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 20px; /* Add spacing between cards */
  height: 100%; /* Ensure all cards have the same height */
}

.product-image {
  width: 300px; /* Adjust the desired width */
  height: 150px; /* Adjust the desired height */
  margin-right: 20px; /* Add spacing between image and text */
  object-fit: cover; /* Adjust this property to fit your image size preference */
  object-position: top center; /* Position the image towards the top */
}

.product-info {
  flex-grow: 1; /* Allow the info section to expand and fill remaining space */
}

.product-name {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.product-add-button {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

/* Slider Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  display: block;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: rgb(33, 136, 42)c0c;
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}
