/* About.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 50px;
  height: 50px;
}

.logo-name {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.header-links ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.header-links li {
  margin-left: 10px;
}

.header-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.active-link {
  color: #000;
  font-weight: bold;
}

.inactive-link {
  color: #999;
}

.cart {
  display: flex;
  align-items: center;
  position: relative;
}

.custom-cart-icon {
  font-size: 20px;
  margin-right: 5px;
}

.cart-length {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  right: -8px;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-links {
    margin-top: 10px;
  }

  .header-links ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-links li {
    margin-top: 5px;
    margin-left: 0;
  }

  .logo-name {
    margin-left: 0;
    margin-top: 10px;
    font-size: 20px;
  }
}
