/* About.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1b9b7f;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Add circular border radius */
  margin-right: 10px; /* Add margin between logo and text */
}

.logo-name {
  font-size: 24px;
  color: #333;
  font-weight: bold; /* Style the text */
  font-family: 'Helvetica', Arial, sans-serif; /* Add font-family */
}

.header-links ul {
  display: flex;
  list-style: none;
}

.header-links li {
  margin-right: 20px;
}

.active-link {
  color: #333;
  font-weight: bold;
  text-decoration: none; /* Remove underline */
  margin-right: 10px; /* Add spacing between links */
}

.cart {
  display: flex;
  align-items: center;
  position: relative;
}

.custom-cart-icon {
  font-size: 24px;
  margin-right: 5px;
}

.cart-length {
  background-color: #333;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  top: -5px;
  right: -5px;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  
  .logo {
    margin-bottom: 10px;
  }
  
  .logo-name {
    font-size: 20px;
  }
  
  .header-links ul {
    flex-direction: column;
  }
  
  .header-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .cart {
    margin-left: auto;
  }
}
