.about-section {
  padding: 50px;

  color: black;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.image-container {
  text-align: right;
  margin-top: 30px;
}

.landing-image {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    flex: 1;
    margin-right: 50px;
    text-align: left;
  }

  .image-container {
    flex: 1;
    margin-top: 0;
    text-align: right;
  }
}