.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  background: rgb(142, 170, 106);
}

.map-container {
  grid-column: 1 / 2;
}

.get-intouch {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-left: 90px;
  padding: 5px;
}

.contact-info {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.contact-info p {
  margin-right: 10px;
  color: white;
}

.facebook-icon {
  font-size: 24px;
  color: #3b5998;
}

.contact-form label {
  color: white;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  padding: 5px;
  margin-bottom: 10px;
}

.submit-button {
  background-color: #3b5998;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.success-message {
  color: green;
  margin-top: 10px;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
  }

  .contact-form {
    grid-column: 1 / 2;
    margin-left: 0;
    margin-top: 20px;
  }
}
